:root {
  --default-font-size: 16px;
  --min-font-size: 13px;
  --text-color: #fefefe;
  --bg1: #1f2635;
  --bg2: #191d28;
  --accent1: #67368C;
  --accent2: #C33773;
  --default-font: "ALS", sans-serif;
  --newitem-bg: #333;
  --disabled-btn: #ccc;
  --hamburger-bg: #fff;
  --hamburger-hover: rgba(#fff,.1);
  --input-bd: rgba(#000, .3);
}
